name: Build, Test and Analyze with SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: zulu

      - name: Install SonarScanner for .NET
        shell: pwsh
        run: dotnet tool install --global dotnet-sonarscanner

      - name: SonarCloud Begin
        shell: pwsh
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner begin `
            /k:"Thiagonogsl_RecipeBook.API" `
            /o:"thiagonog" `
            /d:sonar.host.url="https://sonarcloud.io" `
            /d:sonar.token="${{ secrets.SONAR_TOKEN }}" `
            /d:sonar.cs.cobertura.reportsPaths="**/coverage.cobertura.xml"

      - name: Build
        shell: pwsh
        run: dotnet build --no-incremental

      - name: Test with coverage
        shell: pwsh
        run: dotnet test --collect "XPlat Code Coverage"

      - name: SonarCloud End
        shell: pwsh
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: dotnet sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"

